@import "src/app/styles/variables.scss";
.login-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    min-height: $content-min-height;
    .login-form {
        padding: 16px;
        
        width: 400px;        
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        header {
            display: flex;
            justify-content: start;
            margin-bottom: 2rem;
            font-size: 2rem;
            color: #616060;
        }
        form {
            display: flex;
            width: 400px;
            gap: 0.6rem;
            flex-direction: column;
            label {
                color: #616060;
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }

            .button {
                width: 100px;
                display: flex;
                align-self: center;
            }
        }
    }

}