footer {
    background-color: #656565;
    text-align: center;
    font-size: 1rem;
    color: #f4f4f4;
    border-top: 1px solid #e9ecef;
    width: 100%;
    display: flex;
    justify-content: space-between;
    div {
        padding: 6px 20px;
    }
}