footer {
    background-color: #dfdede;
    text-align: center;
    font-size: 0.8rem;
    color: #747475;
    border-top: 1px solid #e9ecef;
    width: 100%;
    display: flex;
    justify-content: center;
    div {
        padding: 8px 20px;
    }
}